*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 380911 */
  src: url('https://at.alicdn.com/t/font_380911_pkfrfs2l9lxiggb9.eot');
  src: url('https://at.alicdn.com/t/font_380911_pkfrfs2l9lxiggb9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_380911_pkfrfs2l9lxiggb9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_380911_pkfrfs2l9lxiggb9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_380911_pkfrfs2l9lxiggb9.svg#iconfont') format('svg');
}
#iconfont-video{
	font-family: "iconfont";/
}
.iconfont-weixin{
	font-family: "iconfont";
	font-size: 30px;
	color: limegreen;
}
.iconfont-qq{
	font-family: "iconfont";
	font-size: 27px;
	color: #62A8EA;
}
.iconfont-emall{
	font-family: "iconfont";
	font-size: 30px;
	/*color: deepskyblue;*/
	color: #62A8EA;
}
header{
	width: 100%;
	height: 80px;
	background: #fff;
	position: fixed;
	z-index: 999;
	transition: .5s;
	box-shadow: 0 1px 3px #CCCCCC;
}
.head-bj{
	width: 100%;
	height: 80px;
	z-index: 999;
	background: #fff;
	z-index: 998;
}
main{
	width:90%;
	height: 100%;
	margin: 0 auto;
}

.title{
	width: auto;
	height: 80px;
	float: right;
}
.title li{
	width: 70px;
	float: left;
	padding-right: 10px;
	line-height: 80px;
	font-size: 12px;
	text-align: center;
}
.title>li>a{
	padding: 34px 0;
	color: #000;
}
.works{
	position: relative;
}
#lan{
	font-size: 12px;
	color: #16b0dc;
}
.nonebox{
	width: 100px;
	height: auto;
	background-color: rgba(248, 248, 248, 0.8);
	position: relative;
	bottom: 0;
	right: 0px;
	display: none;	
}
.Hangle{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    transition: all 0.2s;
	position: absolute;
	top: -20px;
	right: 10px;
}
.nonebox>a>ol{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e5dfdf;
	text-align: center;
	line-height: 40px;
	color: #000000;
	font-size: 12px;
}

.nonebox>a>ol:last-child{
	border-bottom: 0;
}
.nonebox>a>ol:hover{
	color: #62A8EA;
}
/*内容*/
.LYbox{
	width: 100%;
	/*height: auto;*/
	min-height: 2100px;
	background: #f1f1f1;
	padding-bottom:30px ;
}
.art-top{
	width: 100%;
	height: 58px;
	padding-top: 63px;
	padding-bottom:50px ;
}
.art-text1{
	width: 224px;
	height: 35px;
	margin:0 auto;
	font-size:35px;
	color: #F67A82;
	font-family: "黑体";
	text-align: center;
}
.sou{
	width: 100%;
	height: 60px;
	background: #F86867;
}
.sou>input{
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin: 10px 0 10px 130px;
	padding: 0 10px;
	font: 14px "微软雅黑";
	color: #9E9E9E;
	outline: none;
}
ul.all{
	width: 100%;
	height: 1000px;
	margin: 30px 0;
}
ul.all>li{
	width: 25%;
	/*height: auto;*/
	min-height: 350px;
	border: 10px solid #f1f1f1;
	box-sizing: border-box;
	margin-bottom: 20px;
	float: left;
	overflow: hidden;
	trans
}
ul.all>li>a{
	width: 100%;
	height: auto;
	display: block;
}
ul.all>li>a>img{
	width: 100%;
	height: 180px;
}
.info{
	width: 100%;
	height: aotu;
	padding:10px 20px;
	box-sizing: border-box;
	position: relative;
}
.info>h3{
	font: 20px "微软雅黑";
	margin-bottom: 10px;
}
.info>p{
	width: 100%;
	max-height: 36px;
	font: 12px "微软雅黑";
	line-height: 1.5;
	margin-bottom: 15px;
}
.info>a{
	width: 90px;
	height: 30px;
	display: block;
}
.info>a>.xiangqing{
	width: 90px;
	height: 30px;
	border: 1px solid #62A8EA;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	background: #FFFFFF;
	color: #62A8EA;
	font-family: "微软雅黑";
	font-size: 12px;
}
.info>a>.xiangqing:hover{
	background: #62A8EA;
	color: #fff;
	transition: .5s;
}
.info>.liulan{
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-family: "iconfont";
	font-size: 12px;
	color: #888888;
}
#zazhi{
	width: 100%;
	height: 330px;
	/*height: 100%;*/
}
/*底部*/
.btm{
	width: 100%;
	height: 170px;
	margin-top: 30px;
	background: #F5F5F5;
	overflow: hidden;
}
.lx-box{
	width: 140px;
	height: 30px;
	margin: 40px auto;
	margin-bottom: 20px;
}
.lx-sbox{
	width: 30px;
	height: 30px;
	margin: 0 8px;
	float: left;
}
#ICP{
	width: 300px;
	height: 25px;
	margin:0 auto;
	font-size: 12px;
	color: #62A8EA;
}
#ICP span{
	float: left;
	margin-top: 3px;
	padding: 0 5px;
}
.jinghui{
	width: 20px;
	height: 20px;
	background: url(jinghui20-20.png);
	float: left;
}
.location{
	width:470px;
	height: 60px;
	margin: 0 auto;
	font-size: 12px;
	color:#AAAAAA ;
	text-align: center;
	line-height: 20px;
}
.addcol{
	color:#16b0dc;
}
